<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 流水表batches数据库操作 -->
<mapper namespace="com.dao.AssociationMapper">
    <cache/>
    <!-- 查询 -->
    <select id="findAssociation" parameterType="string" resultType="com.model.pojo.Association">
        select * from association
        <where>
            <if test="assoNames != null and assoNames.trim() != ''">
                and asso_name = #{assoNames}
            </if>
        </where>
    </select>
    <!--    新增    -->
    <insert id="insertAssociation" parameterType="com.model.pojo.Association"
            useGeneratedKeys="true" keyColumn="asso_id" keyProperty="assoId">
        insert into association (asso_name, asso_price)
        values (#{assoName}, #{assoPrice})
    </insert>
<!--    &lt;!&ndash; 修改 &ndash;&gt;-->
    <update id="updateAssociation" parameterType="com.model.pojo.Association">
        update association
        <set>
            <if test="assoName != null and assoName.trim() != ''">
                asso_name = #{assoName},
            </if>
            <if test="assoPrice != null and assoPrice != 0">
                asso_price = #{assoPrice},
            </if>
        </set>
        where asso_name = #{assoName}
    </update>


</mapper>