<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UsersMapper">
    <cache/>
<!--    &lt;!&ndash; 查询 &ndash;&gt;-->
<!--    <select id="queryUsers" parameterType="" resultType="com.model.pojo.Users">-->

<!--    </select>-->
<!--    &lt;!&ndash; 新增 &ndash;&gt;-->
<!--    <insert id="insertUsers" parameterType="" useGeneratedKeys="true" keyColumn="" keyProperty="">-->

<!--    </insert>-->
<!--    &lt;!&ndash; 修改 &ndash;&gt;-->
<!--    <update id="updateUsers" parameterType="">-->
<!--        update-->
<!--        <set>-->
<!--            <if test="">-->

<!--            </if>-->

<!--        </set>-->
<!--        where-->
<!--    </update>-->
<!--    &lt;!&ndash; 删除 &ndash;&gt;-->
<!--    <delete id="deleteUsers" parameterType="">-->

<!--    </delete>-->

</mapper>